# Illinois Death Demographics

In [26]:
import utils
import pandas as pd
from datetime import date

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### IDPH only publishes death demographics on and after 3/28, earlier entries (36 deaths) needs manual input

In [22]:
manual_entries = utils.IL_death_demographic_early()  # check manual entries
manual_entries.head()

,Date,County,Count,Sex,Age_bracket,Reference
0,2020-03-17,Cook,1,female,60.0,http://www.dph.illinois.gov/news/public-health...
1,2020-03-19,Will,1,male,40.0,http://www.dph.illinois.gov/news/public-health...
2,2020-03-19,Cook,1,female,80.0,http://www.dph.illinois.gov/news/public-health...
3,2020-03-19,Sangamon,1,female,70.0,http://www.dph.illinois.gov/news/public-health...
4,2020-03-20,Cook,1,female,70.0,http://www.dph.illinois.gov/news/public-health...

## parse_IL_death_demographic combines manual early entry and later automatic parser

In [62]:
result = utils.parse_IL_death_demographic(pd.date_range('2020-02-01', date.today()))

In [63]:
result.tail()

,Date,County,Count,Sex,Age_bracket,Reference
8,2020-04-02,Cook,1,male,80,http://www.dph.illinois.gov/news/public-health...
9,2020-04-02,DuPage,1,female,80,http://www.dph.illinois.gov/news/public-health...
11,2020-04-02,Whiteside,1,female,90,http://www.dph.illinois.gov/news/public-health...
6,2020-04-02,Cook,1,female,70,http://www.dph.illinois.gov/news/public-health...
0,2020-04-02,Christian,1,male,80,http://www.dph.illinois.gov/news/public-health...

In [46]:
result.to_csv('../outputs/death_demographic_2020-04-02.csv')

In [78]:
pivot = pd.pivot_table(result, index='Age_bracket', columns='Sex', values='Count', aggfunc='sum')
pivot

Sex          female  male  unknown
Age_bracket
0               NaN   NaN      1.0
20              NaN   1.0      NaN
30              1.0   3.0      NaN
40.0            1.0   5.0      NaN
50.0            2.0  10.0      NaN
60.0           15.0  18.0      2.0
70.0           18.0  23.0      NaN
80.0           10.0  20.0      NaN
90.0            7.0   6.0      NaN
100             1.0   NaN      NaN
unknown         NaN   NaN      5.0

#### Prepare for Flourish.studio

In [79]:
total = result['Count'].sum()
pivot = pivot.rename(columns={'female': 'female count', 'male': 'male count', 'unknown': 'unknown count'})
pivot['female'] = pivot['female count'] / total * 100
pivot['male'] = pivot['male count'] / total * 100
pivot['unknown'] = pivot['unknown count'] / total * 100

In [80]:
pivot

Sex,female count,male count,unknown count,female,male,unknown
Age_bracket,,,,,,
0,NaN,NaN,1.0,NaN,NaN,0.636943
20,NaN,1.0,NaN,NaN,0.636943,NaN
30,1.0,3.0,NaN,0.636943,1.910828,NaN
40.0,1.0,5.0,NaN,0.636943,3.184713,NaN
50.0,2.0,10.0,NaN,1.273885,6.369427,NaN
60.0,15.0,18.0,2.0,9.554140,11.464968,1.273885
70.0,18.0,23.0,NaN,11.464968,14.649682,NaN
80.0,10.0,20.0,NaN,6.369427,12.738854,NaN
90.0,7.0,6.0,NaN,4.458599,3.821656,NaN
100,1.0,NaN,NaN,0.636943,NaN,NaN
unknown,NaN,NaN,5.0,NaN,NaN,3.184713

In [81]:
pivot.to_csv('../outputs/death_demographic_2020-04-02_flourish.csv')